.homepage-sidebar{
  display: block;
  width: 200px;
  border-radius: 30px;
  margin-right: 20px;
  background-color: #91d9b4;
}

.sidebarButton{
  display: block;
  margin-bottom : 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  color: black;
}

.sidebarButton span{
  font-size: 1.1rem;
  padding-left: 20%;
}
.sidebarButton:hover{
  background-color: hsla(0, 0%, 100%, 0.151);
}

.homepageContent{
  display: flex;
  justify-content: space-between;
}

.content{
  width: 1150px;
}

.profile{
  color: white;
  width: 100%;
  /* overflow: hidden; */
}

.profileNameAndImage{
  width: 95%;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  padding : 10px;
  border-radius : 10px;
  height: 260px;
}

.profileImage{
  height: 35vh;
  width: 17vw;
}

.uploadProfileImg{
  background: none;
  margin-left: 35px;
  color: white;
  border-radius : 20px;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}

.user-details{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.profileName{
  font-size: 2rem;
}

.homepageContent{
  padding: 30px;
}

.dailyItems h1{
  font-size: 1.7rem;
}

.pomo-icon{
  width: 20px;
  height: fit-content;
  margin-top: 2px;
}

.joural{
  background-color: #91d9b4;
  border: 1px solid white;
}

.daily-todo{
  width: 98%;
  height: fit-content;
  border: 1px solid white;
}

.daily-todoList{
  margin: 30px auto;
  border-radius: 20px;
  overflow: hidden;
  width: 40vw;
  color: black;
  background-color: white;
}

.dailytodoheader{
  background-color: rgb(105, 235, 19);
}

.dailytodoheaderText{
  margin: 0px auto;
  width: fit-content;
}

.dailyHeading{
  font-size: 1.3rem;
  width: fit-content;
  margin: 3px auto;
  color: red;
}

.completed{
  color: rgb(105, 235, 19);
}

.daily-addTask{
  width: fit-content;
  margin: 20px auto;
}

.daily-addTask button:hover{
  background-color: green;
  color: white;
}

.daily-addTask input{
  height: 30px;
}

.journal{
  color: white;
}
.journal-heading{
  height: 10vh;
}

.journal-heading h1{
  font-size: 2rem;
  font-family: Lucida Handwriting;
  width: fit-content;
  margin: 0px auto;
}

.journal-content{
  margin-top : 10px;
  height: 80vh;
  overflow: auto;
}

.journal-title{
  display: flex;
}

.journal-date{
  width: fit-content;
  font-size: 1.5rem;
  margin: 20px auto;
}
.title{
  width: 60vw;
}

.title-inp{
  width: 35vw;
  margin: 10px 10vw;
  background: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  border: 1px solid white;
}



.journal-body{
  width: 95%;
  margin: 20px auto;
}

.body{
  width: 96%;
  padding: 20px;
  font-size: 1.1rem;
  background : none;
  color: white;
  font-family: Garamond;
  border-radius: 20px;
}

.journal-save{
  margin: 0px auto;
  width: fit-content;
}

.save-btn{
  width: 100%;
  cursor: pointer;
  background: none;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

.save-btn:hover,.title-inp:hover,.body:hover{
  background-color: hsla(0, 0%, 100%, 0.151);
}

.Meditate-container{
  width: 100%;
}

.meditateHeading{
  color: white;
  font-family: Lucida Handwriting;
  font-size: 2.5rem;
  width: fit-content;
  margin: 0px auto;
}

.meditateTimer{
  margin: 30px auto;
  width: fit-content;
}

.leaderboardHeading{
  color: white;
  font-family: Lucida Handwriting;
  font-size: 2.5rem;
  width: fit-content;
  margin: 0px auto;
}

.leaderboardContent{
  border : 1px solid white;
  padding: 20px;
}

