.chatContainer{
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  align-items: center;
}
.chat{
  height: 90vh;
  width: 80%;
  border: 1px solid white;
  margin:50px 100px;
  overflow-y: auto;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 30px;
}
.heading{
  color: white;
  font-size: 2rem;
  margin-top: 30px;
}

.chat p{
  color:white;
  width: 100%;
}

.groqMessage{
  justify-content: flex-start;
}

.myMessage{
  justify-content: flex-end;
}